
body{
	background: #C6C6C6;
	
}


.main-section{
	background: #E9E6EA;
}

/*--------------Sidebar color style-----------*/

.line{
	background: #fff;
}

.line3{
	background: #00a2da;
	box-shadow:  0px 2px 5px rgb(255 255 255);
}

.side-bar{
	background: #5f0485;
}


.side-img{
	background:#e9e6ea;
}


.side-title{
	color: #fff;
}


.sub-title{
	color:#fff;
	
}



.fa{
	color: #fff;
}


.fa-envelope{
	font-size: 17px;
}


.fa-chain{
	font-size: 22px;
}


.skill-bar{
	background: #fff;
}


.skill-range{
	background: dodgerblue;
}


.label{
	color: #fff;
}

/*--------------Sidebar color style end ----------*/




/*-----------Article color style start......-----------*/


.skill-progress .two , .skill-progress .four{
	border:3px solid #00a2da!important;
}


.author-name{
	color:#4a4a4a;
}

.author-name span{
	color: dodgerblue;
}

.line1{
	background: #00a2da;
	box-shadow:  0px 2px 5px rgb(255 255 255);
}

.line2{
	box-shadow:  0px 2px 5px rgb(255 255 255);
}


.skill-progress .circle{
	border:3px solid #666;
}

.ex-sub-title{
	color:#5e6063;
	
}